@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
}

body {
    @apply bg-white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    position: relative;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3 {
    @apply text-lg;
}

h4,
h5,
h6 {
    @apply text-base;
}

p {
    margin: 0 0 10px 0;
}

nav:not(.mm-menu) {
    @apply hidden;
}

.header,
.content,
.footer {
    @apply text-center;
}

#page .header,
#page .footer {
    @apply bg-white text-base font-bold text-white w-full h-14 box-border;
    line-height: 43px;
}

#page .header {
    @apply relative border-b m-14;
}

.header.mm-slideout {
    @apply fixed border-b pl-6 top-14;
}

#hamburger {
    @apply relative block h-full;
    width: 50px;
}


/* .header.fixed {
	@apply top-0 left-0;
	position:fixed;
} */

.footer.fixed {
    @apply bottom-0 left-0;
    position: fixed;
}

#page .header span a {
    @apply block w-full h-full absolute top-0 left-0 m-0.5 p-3;
}

#page .content {
    @apply p-6;
}

.header a span {
    @apply bg-white block h-0.5 mx-0 my-1.5;
}


/* INLINE FORM */

.inline-form {
    @apply flex items-center -mx-2;
}

.inline-form>div {
    @apply px-2;
}


/* TABS */

.tabs-links ul {
    @apply flex items-center h-full;
}

.tabs-links li {
    @apply flex items-center px-1 mx-2 border-b-4 border-transparent h-full;
}

.tabs-links li.active {
    @apply border-blue-750;
}

.tabs-links li.active a {
    @apply text-blue-750;
}


/* LABELS */

.label-lg {
    @apply px-3 text-sm leading-6 text-white font-semibold inline-block rounded-3xl;
}

.label-md {
    @apply px-3 text-xs leading-5 text-white font-semibold inline-block rounded-3xl;
}

.label-sm {
    @apply px-3 text-xs leading-4 text-white font-normal inline-block rounded-3xl;
}


/* BUTTONS */ 
.btn {
    @apply relative inline-block align-top;
}
.btn svg {
    @apply inline-block align-middle;
}

.btn-lg {
    @apply btn border font-semibold text-base px-4 h-10 min-w-10 rounded-sm;
}
.btn-lg > svg {
    @apply h-4.5;
}

.btn-md {
    @apply btn border font-semibold text-sm px-4 h-8 min-w-8 rounded-sm;
}
.btn-md > svg {
    @apply h-3.5;
}

.btn-sm {
    @apply btn border font-semibold px-4 h-6 min-w-6 rounded-sm;
}
.btn-sm > svg {
    @apply h-3;
}

.btn-xsm {
    @apply btn border font-semibold px-4 h-5 min-w-5 rounded-sm;
}
.btn-xsm > svg {
    @apply h-2.5;
}

.btn-primary {
    @apply bg-blue-500 border-blue-500 text-white hover:bg-blue-350 hover:border-blue-350 focus:bg-blue-250 focus:border-blue-250 active:bg-blue-650 active:border-blue-650 disabled:bg-gray-50 disabled:text-gray-200 disabled:border-gray-100 focus:outline-none;
}

.btn-secondary {
    @apply bg-gray-25 text-black border-gray-100 hover:border-blue-250 focus:border-blue-250 focus:bg-blue-50 active:bg-blue-50 active:border-blue-650 disabled:bg-gray-25 disabled:text-gray-200 disabled:border-gray-100 focus:outline-none;
}    

.btn-tertiary {
    @apply bg-white text-blue-500 border-gray-100 hover:border-blue-250 focus:bg-blue-50 focus:border-blue-250 active:bg-blue-50 active:border-blue-650 active:text-blue-750 disabled:bg-white disabled:text-gray-200 border disabled:border-gray-100 focus:outline-none;
}

.btn-ghost {
    @apply bg-white border-white text-gray-700 hover:text-blue-500 focus:text-blue-350 active:text-blue-750 disabled:text-gray-200 focus:outline-none;
}

.btn-danger {
    @apply bg-white text-red-600 border-gray-100 hover:text-white hover:border-red-600 hover:bg-red-600 focus:border-red-350 focus:bg-red-50 focus:text-red-600 active:bg-red-750 active:border-red-750 active:text-white disabled:border-gray-100 disabled:text-gray-600 focus:outline-none;
}

.btn-primary-lg-icon-only > svg, .btn-secondary-lg-icon-only > svg, .btn-tertiary-lg-icon-only > svg, .btn-danger-lg-icon-only > svg, .btn-ghost-lg-icon-only > svg {
    @apply absolute top-1/2 left-1/2;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}



/* BUTTON PRIMARY */

/* LARGE */

.btn-primary-lg-text {
    @apply btn-lg btn-primary;
}

.btn-primary-lg-icon-only {
    @apply btn-lg btn-primary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-primary-lg-icon-right {
    @apply btn-lg btn-primary;
    padding-right:6px !important;
}

.btn-primary-lg-icon-left {
    @apply btn-lg btn-primary;
    padding-left:6px !important;
}



/* MIDDLE */

.btn-primary-md-text {
    @apply btn-md btn-primary;
}

.btn-primary-md-icon-only {
    @apply btn-md btn-primary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-primary-md-icon-right {
    @apply btn-md btn-primary;
    padding-left:4px !important;
}

.btn-primary-md-icon-left {
    @apply btn-md btn-primary;
    padding-left:4px !important;
}


/* SMALL */

.btn-primary-sm-text {
    @apply btn-sm btn-primary;
}

.btn-primary-sm-icon-only {
    @apply btn-sm btn-primary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-primary-sm-icon-right {
    @apply btn-sm btn-primary;
    padding-right:3px !important;
}

.btn-primary-sm-icon-left {
    @apply btn-sm btn-primary;
    padding-left:3px !important;
}


/* TINY */

.btn-primary-xsm-text {
    @apply btn-xsm btn-primary;
}

.btn-primary-xsm-icon-only {
    @apply btn-xsm btn-primary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-primary-xsm-icon-right {
    @apply btn-xsm btn-primary;
    padding-right:2px !important;
}

.btn-primary-xsm-icon-left {
    @apply btn-xsm btn-primary;
    padding-left:2px !important;
}



/* BUTTON SECONDARY */

/* LARGE */
.btn-secondary-lg-text {
    @apply btn-lg btn-secondary;
}

.btn-secondary-lg-icon-only {
    @apply btn-lg btn-secondary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-secondary-lg-icon-right {
    @apply btn-lg btn-secondary;
    padding-right:6px !important;
}

.btn-secondary-lg-icon-left {
    @apply btn-lg btn-secondary;
    padding-left:6px !important;
}

/* MIDDLE */
.btn-secondary-md-text {
    @apply btn-md btn-secondary;
}

.btn-secondary-md-icon-only {
    @apply btn-md btn-secondary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-secondary-md-icon-right {
    @apply btn-md btn-secondary;
    padding-right:4px !important;
}

.btn-secondary-md-icon-left {
    @apply btn-md btn-secondary;
    padding-left:4px !important;
}

/* SMALL */
.btn-secondary-sm-text {
    @apply btn-sm btn-secondary;
}

.btn-secondary-sm-icon-only {
    @apply btn-sm btn-secondary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-secondary-sm-icon-right {
    @apply btn-sm btn-secondary;
    padding-right:3px !important;
}

.btn-secondary-sm-icon-left {
    @apply btn-sm btn-secondary;
    padding-left:3px !important;
}


/* TINY */
.btn-secondary-xsm-text {
    @apply btn-sm btn-secondary;
}

.btn-secondary-xsm-icon-only {
    @apply btn-sm btn-secondary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.btn-secondary-xsm-icon-right {
    @apply btn-sm btn-secondary;
    padding-right:2px !important;
}

.btn-secondary-xsm-icon-left {
    @apply btn-sm btn-secondary;
    padding-left:2px !important;
}


/* BUTTON TERTIARY */

/* LARGE */
.btn-tertiary-lg-text {
    @apply btn-lg btn-tertiary;
}
.btn-tertiary-lg-icon-only {
    @apply btn-lg btn-tertiary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-tertiary-lg-icon-right {
    @apply btn-lg btn-tertiary;
    padding-right:6px !important;
}
.btn-tertiary-lg-icon-left {
    @apply btn-lg btn-tertiary;
    padding-left:6px !important;
}

/* MIDDLE */
.btn-tertiary-md-text {
    @apply btn-md btn-tertiary;
}
.btn-tertiary-md-icon-only {
    @apply btn-md btn-tertiary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-tertiary-md-icon-right {
    @apply btn-md btn-tertiary;
    padding-left:4px !important;
}
.btn-tertiary-md-icon-left {
    @apply btn-md btn-tertiary;
    padding-left:4px !important;
}

/* SMALL */
.btn-tertiary-sm-text {
    @apply btn-sm btn-tertiary;
}
.btn-tertiary-sm-icon-only {
    @apply btn-sm btn-tertiary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-tertiary-sm-icon-right {
    @apply btn-sm btn-tertiary;
    padding-right:3px !important;
}
.btn-tertiary-sm-icon-left {
    @apply btn-sm btn-tertiary;
    padding-left:3px !important;
}


/* TINY */
.btn-tertiary-xsm-text {
    @apply btn-xsm btn-tertiary;
}
.btn-tertiary-xsm-icon-only {
    @apply btn-xsm btn-tertiary;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-tertiary-xsm-icon-right {
    @apply btn-xsm btn-tertiary;
    padding-right:2px !important;
}
.btn-tertiary-xsm-icon-left {
    @apply btn-xsm btn-tertiary;
    padding-left:2px !important;
}



/* BUTTON DANGER */

/* LARGE */
.btn-danger-lg-text {
    @apply btn-lg btn-danger;
}
.btn-danger-lg-icon-only {
    @apply btn-lg btn-danger;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-danger-lg-icon-right {
    @apply btn-lg btn-danger;
    padding-right:6px !important;
}
.btn-danger-lg-icon-left {
    @apply btn-lg btn-danger;
    padding-left:6px !important;
}

/* MIDDLE */
.btn-danger-md-text {
    @apply btn-md btn-danger;
}
.btn-danger-md-icon-only {
    @apply btn-md btn-danger;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-danger-md-icon-right {
    @apply btn-md btn-danger;
    padding-right:4px !important;
}
.btn-danger-md-icon-left {
    @apply btn-md btn-danger;
    padding-left:4px !important;
}

/* SMALL */
.btn-danger-sm-text {
    @apply btn-sm btn-danger;
}
.btn-danger-sm-icon-only {
    @apply btn-sm btn-danger;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-danger-sm-icon-right {
    @apply btn-sm btn-danger;
    padding-right:3px !important;
}
.btn-danger-sm-icon-left {
    @apply btn-sm btn-danger;
    padding-left:3px !important;
}


/* TINY */
.btn-danger-xsm-text {
    @apply btn-xsm btn-danger;
}
.btn-danger-xsm-icon-only {
    @apply btn-xsm btn-danger;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-danger-xsm-icon-right {
    @apply btn-xsm btn-danger;
    padding-right:2px !important;
}
.btn-danger-xsm-icon-left {
    @apply btn-xsm btn-danger;
    padding-left:2px !important;
}




/* BUTTON GHOST */

/* LARGE */
.btn-ghost-lg-text {
    @apply btn-lg btn-ghost;
}
.btn-ghost-lg-icon-only {
    @apply btn-lg btn-ghost;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-ghost-lg-icon-right {
    @apply btn-lg btn-ghost;
    padding-right:6px !important;
}
.btn-ghost-lg-icon-left {
    @apply btn-lg btn-ghost;
    padding-left:6px !important;
}


/* MIDDLE */
.btn-ghost-md-text {
    @apply btn-md btn-ghost;
}
.btn-ghost-md-icon-only {
    @apply btn-md btn-ghost;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-ghost-md-icon-right {
    @apply btn-md btn-ghost;
    padding-right:4px !important;
}
.btn-ghost-md-icon-left {
    @apply btn-md btn-ghost;
    padding-left:4px !important;
}

/* SMALL */
.btn-ghost-sm-text {
    @apply btn-sm btn-ghost;
}
.btn-ghost-sm-icon-only {
    @apply btn-sm btn-ghost;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-ghost-sm-icon-right {
    @apply btn-sm btn-ghost;
    padding-right:3px !important;
}
.btn-ghost-sm-icon-left {
    @apply btn-sm btn-ghost;
    padding-left:3px !important;
}


/* TINY */
.btn-ghost-xsm-text {
    @apply btn-xsm btn-ghost;
}
.btn-ghost-xsm-icon-only {
    @apply btn-xsm btn-ghost;
    border-radius:50% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.btn-ghost-xsm-icon-right {
    @apply btn-xsm btn-ghost;
    padding-right:2px !important;
}
.btn-ghost-xsm-icon-left {
    @apply btn-xsm btn-ghost;
    padding-left:2px !important;
}


/* DIVIDER */

.divider-horizontal {
    @apply w-full h-1 bg-gray-100;
}

.divider-vertical {
    @apply w-1 h-full bg-gray-100;
}

#menu {
    padding-top: 68px;
}

#page {
    @apply min-h-full;
    background: #f9fafa;
    margin-top: 112px;
}

.mm-wrapper_sidebar-collapsed .mm-slideout {
    width: calc(100% - 50px);
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    width: calc(100% - var(--mm-sidebar-collapsed-size));
    -webkit-transform: translate3d(var(--mm-sidebar-collapsed-size), 0, 0);
    transform: translate3d(var(--mm-sidebar-collapsed-size), 0, 0);
}

.mm-panel_iconpanel-first i,
.mm-panel_iconpanel-first svg {
    font-size: 16px;
    text-align: center;
    color: #6E7880;
    line-height: 25px;
    width: 25px;
    margin-right: 15px;
    float: left;
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

.mm-listitem::after {
    left: 14px;
}

ul.listview-icons>.mm-listitem::after {
    left: 54px;
    border-color: #DBDEDF;
}

ul.listview-icons {
    padding-left: 0px !important;
}

.mm-panel ul {
    padding-left: 10px;
}

.mm-divider {
    padding-left: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #5C656C;
    background-color: #F3F4F4;
}

.mm-listitem {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.mm-menu a,
.mm-menu a:active,
.mm-menu a:hover,
.mm-menu a:link,
.mm-menu a:visited {
    color: #000;
    padding-left: 10px;
}

.mm-counter {
    color: #6E7880;
}

.mm-btn_next::after {
    border-color: #6E7880;
}

nav[aria-hidden="true"] .mm-navbar_sticky,
nav[aria-hidden="true"] .mm-navbars_top,
nav[aria-hidden="true"] .mm-divider {
    opacity: 0;
}

.mm-searchfield input,
.mm-searchfield input:focus,
.mm-searchfield input:hover {
    background: #fff;
    color: #000;
    border: 1px solid #ccc !important;
}

.mm-panel>p {
    padding: 20px;
    margin: 0;
}

.mm-btn::after,
.mm-btn::before {
    border-color: #6E7880;
}

.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__btn,
.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__text {
    background-color: #f1f9ff;
    position: relative;
}

.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__btn::before,
.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__text::before {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 4px;
    background: #0083FF;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 3px;
    top: 0;
    border: 0;
}

.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__btn i,
.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__text i,
.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__btn svg,
.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__text svg {
    color: #0083FF;
}

.mm-panel_opened-parent .mm-panel__blocker {
    opacity: .2;
}

.mm-menu_selected-hover .mm-listitem__btn:hover,
.mm-menu_selected-hover .mm-listitem__text:hover {
    background: #f1f9ff;
}

.mm-navbar__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: 50px;
}

.mm-searchfield__input {
    padding: 0 18px;
}

.mm-searchfield input {
    height: 40px;
    padding: 0 10px 0 30px;
}

.mburger b {
    width: 24px !important;
    left: 0 !important;
}

#page .header span a {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 17.5px;
    left: 24px;
}

.mm-wrapper_opening [class*="mm-menu_pagedim"].mm-menu_opened~.mm-wrapper__blocker {
    opacity: 0;
}

.mm-searchfield__input::before {
    content: "\e9c1";
    position: absolute;
    font-family: 'feather' !important;
    font-size: 16px;
    padding: 0 8px;
    cursor: pointer;
}

.mm-divider {
    padding: calc((var(--mm-listitem-size) - var(--mm-line-height))/ 2);
}

.header-right li::before {
    content: "";
    position: absolute;
    height: 94%;
    border-right: 1px solid #ccc;
    left: 50px;
    top: 2px;
}

.header-right li:last-child::before {
    display: none;
}

.header-right li a {
    font-size: 18px;
    color: #3e3e3e;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-right li a:before,
.header-right li a:after {
    display: none;
}

.hdr-frm {
    position: absolute;
    top: 2px;
    right: 54px;
    height: 32px;
}

.hdr-frm input {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px 10px 5px 32px;
}

.hdr-frm input:focus,
.hdr-frm input:active {
    border: 1px solid #ccc;
}

@media(max-width: 767px) {
    .header.mm-slideout {
        width: 100%;
    }
    .hdr-frm input {
        width: 48px;
    }
    .hdr-frm {
        right: 48px;
    }
}


/*Humberger and animation*/

.mburger {
    --mb-button-size: 60px;
    --mb-bar-width: .5;
    --mb-bar-height: 2px;
    --mb-bar-spacing: 8px;
    --mb-cross-timeout: 0.2s;
    background: 0 0;
    border: none;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: var(--mb-button-size);
    padding: 0 0 0 var(--mb-button-size);
    margin: 0;
    line-height: var(--mb-button-size);
    vertical-align: middle;
    appearance: none;
    outline: 0;
    cursor: pointer
}

.mburger b {
    display: block;
    position: absolute;
    left: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width))/ 2));
    width: calc(var(--mb-button-size) * var(--mb-bar-width));
    height: var(--mb-bar-height);
    border-radius: calc(var(--mb-bar-height)/ 2);
    background: currentColor;
    color: #000;
    opacity: 1
}

.mburger b:nth-of-type(1) {
    bottom: calc(50% + var(--mb-bar-spacing));
    transition: bottom .2s ease, transform .2s ease
}

.mburger b:nth-of-type(2) {
    top: calc(50% - (var(--mb-bar-height)/ 2));
    transition: opacity .2s ease
}

.mburger b:nth-of-type(3) {
    top: calc(50% + var(--mb-bar-spacing));
    transition: top .2s ease, transform .2s ease
}

.mburger span:not(:empty) {
    padding-right: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width))/ 2))
}

.mm-wrapper_opened .mburger b:nth-of-type(1) {
    bottom: calc(50% - (var(--mb-bar-height)/ 2));
    transform: rotate(45deg)
}

.mm-wrapper_opened .mburger b:nth-of-type(2) {
    opacity: 0
}

.mm-wrapper_opened .mburger b:nth-of-type(3) {
    top: calc(50% - (var(--mb-bar-height)/ 2));
    transform: rotate(-45deg)
}

.mburger--collapse b:nth-of-type(1) {
    transition: bottom .2s ease, margin .2s ease, transform .2s ease;
    transition-delay: .2s, 0s, 0s
}

.mburger--collapse b:nth-of-type(2) {
    transition: top .2s ease, opacity 0s ease;
    transition-delay: .3s, .3s
}

.mburger--collapse b:nth-of-type(3) {
    transition: top .2s ease, transform .2s ease
}

.mm-wrapper_opened .mburger--collapse b:nth-of-type(1) {
    bottom: calc(50% - var(--mb-bar-spacing) - var(--mb-bar-height));
    margin-bottom: calc(var(--mb-bar-spacing) + (var(--mb-bar-height)/ 2));
    transform: rotate(45deg);
    transition-delay: calc(var(--mb-cross-timeout) + .1s), calc(var(--mb-cross-timeout) + .3s), calc(var(--mb-cross-timeout) + .3s)
}

.mm-wrapper_opened .mburger--collapse b:nth-of-type(2) {
    top: calc(50% + var(--mb-bar-spacing));
    opacity: 0;
    transition-delay: calc(var(--mb-cross-timeout) + 0s), calc(var(--mb-cross-timeout) + .2s)
}

.mm-wrapper_opened .mburger--collapse b:nth-of-type(3) {
    top: calc(50% - (var(--mb-bar-height)/ 2));
    transform: rotate(-45deg);
    transition-delay: calc(var(--mb-cross-timeout) + .3s), calc(var(--mb-cross-timeout) + .3s)
}

.mburger--spin b:nth-of-type(1) {
    transition-delay: .2s, 0s
}

.mburger--spin b:nth-of-type(2) {
    transition-duration: 0s;
    transition-delay: .2s
}

.mburger--spin b:nth-of-type(3) {
    transition-delay: .2s, 0s
}

.mm-wrapper_opened .mburger--spin b:nth-of-type(1) {
    transform: rotate(135deg);
    transition-delay: calc(var(--mb-cross-timeout) + 0s), calc(var(--mb-cross-timeout) + .2s)
}

.mm-wrapper_opened .mburger--spin b:nth-of-type(2) {
    transition-delay: calc(var(--mb-cross-timeout) + 0s)
}

.mm-wrapper_opened .mburger--spin b:nth-of-type(3) {
    transform: rotate(225deg);
    transition-delay: calc(var(--mb-cross-timeout) + 0s), calc(var(--mb-cross-timeout) + .2s)
}

.mburger--squeeze b:nth-of-type(1) {
    transition-delay: .1s, 0s
}

.mburger--squeeze b:nth-of-type(2) {
    transition-delay: .1s
}

.mburger--squeeze b:nth-of-type(3) {
    transition-delay: .1s, 0s
}

.mm-wrapper_opened .mburger--squeeze b:nth-of-type(1) {
    transition-delay: calc(var(--mb-cross-timeout) + 0s), calc(var(--mb-cross-timeout) + .1s)
}

.mm-wrapper_opened .mburger--squeeze b:nth-of-type(2) {
    transition-delay: calc(var(--mb-cross-timeout) + 0s)
}

.mm-wrapper_opened .mburger--squeeze b:nth-of-type(3) {
    transition-delay: calc(var(--mb-cross-timeout) + 0s), calc(var(--mb-cross-timeout) + .1s)
}

.mburger--tornado b:nth-of-type(1) {
    transition: bottom .2s ease, transform .2s ease;
    transition-delay: .2s
}

.mburger--tornado b:nth-of-type(2) {
    transition: opacity 0s ease, transform .2s ease;
    transition-delay: .1s, .1s
}

.mburger--tornado b:nth-of-type(3) {
    transition: top .2s ease, transform .2s ease;
    transition-delay: 0s
}

.mm-wrapper_opened .mburger--tornado b:nth-of-type(1) {
    transform: rotate(-135deg);
    transition-delay: calc(var(--mb-cross-timeout) + 0s)
}

.mm-wrapper_opened .mburger--tornado b:nth-of-type(2) {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(var(--mb-cross-timeout) + .4s), calc(var(--mb-cross-timeout) + .1s)
}

.mm-wrapper_opened .mburger--tornado b:nth-of-type(3) {
    transform: rotate(-225deg);
    transition-delay: calc(var(--mb-cross-timeout) + .2s)
}